div {
    position: absolute;
    border:1px solid #3870a1;
}

div.bloque1 {
    background-color: #dbe5f8;
    width:353px;
    height:113px;
    top: 95px;
    left:56px;
    z-index:800;
}

div.bloque2 {
    background-color: #cae4b8;
    width:297px;
    height:387px;
    top: 40px;
    left: 81px;
    z-index: 40;
}

div.bloque3 {
    background-color: #e4d093;
    width:397px;
    height:116px;
    top: 374px;
    left: 20px;
    z-index: 20;
}
  
div.bloque2 div.hijo1 {
    background-color: #6297c8;
    width:266px;
    height:98px;
    top: 120px;
    left: 15px;
    z-index:90;
}
  
div.bloque2 div.hijo2 {
    background-color: #c8bcbc;
    width:143px;
    height:296px;
    top: 33px;
    left:126px;
    z-index:30;
}
  
  
div.bloque2 div.hijo3 {
    background-color: #eca9a9;
    width:176px;
    height:99px;
    top: 278px;
    left: 105px;
    z-index: 10;
}